{% extends "admin/django_celeryx/change_list.html" %}
{% load i18n %}

{% block result_list %}
  <div class="results" style="margin-bottom: 10px;">
    <table style="width: 100%;">
      <thead>
        <tr>
          <th scope="col" style="text-align: center;">{% translate 'Active' %}</th>
          <th scope="col" style="text-align: center;">{% translate 'Processed' %}</th>
          <th scope="col" style="text-align: center;">{% translate 'Succeeded' %}</th>
          <th scope="col" style="text-align: center;">{% translate 'Failed' %}</th>
          <th scope="col" style="text-align: center;">{% translate 'Retried' %}</th>
        </tr>
      </thead>
      <tbody>
        <tr class="row1">
          <td style="text-align: center;"><code>{{ total_active }}</code></td>
          <td style="text-align: center;"><code>{{ total_processed }}</code></td>
          <td style="text-align: center;"><code>{{ total_succeeded }}</code></td>
          <td style="text-align: center;"><code>{{ total_failed }}</code></td>
          <td style="text-align: center;"><code>{{ total_retried }}</code></td>
        </tr>
      </tbody>
    </table>
    {% if monitoring_since %}
    <p style="text-align: center; margin: 4px 0 0; color: var(--body-quiet-color); font-size: 11px;">
      {% translate 'Monitoring since' %} <code>{{ monitoring_since }}</code>
    </p>
    {% endif %}
  </div>

  {{ block.super }}
{% endblock %}
